@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Palanquin&display=swap');

body {
  padding: 0 0;
  margin: 0;
}

#navbar-container{
  width: 100%;
  text-align: center;

}
#navbar {
  background: black;
  width: 100%;
  position: fixed;
  display: block;
  top: 0;

}

#navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#navbar ul li {
  display: inline-block;
}

#navbar ul li a {
  display: block;
  padding: 1rem 2rem;
  height: 1rem;
  color: #fff;
  text-decoration: none;
  font-family: "Ubuntu", serif;
}

#navbar ul li a:hover {
  background-color: #b4b2a7;
  text-decoration: underline overline;
}