@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Palanquin&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #d76f1b;
  font-family: "Ubuntu", serif;
}
#baking{
  background: chocolate;
  font-family: 'Helvetica', sans-serif
}

header{
  margin: 0;
  padding: 0;
}

#navbar-container{
  width: 100%;
  max-height: 10%;
  text-align: center;

}
#navbar {
  background: black;
  opacity: 80%;
  width: 100%;
  position: fixed;
  display: block;
  top: 0;

}

#navbar ul {
  margin: 0;
  list-style-type: none;
}

#navbar ul li {
  display: inline-block;
}

#navbar ul li a {
  display: block;
  padding: 10% 4vw;
  font-size: 2vw;
  color: #fff;
  text-decoration: none;
}

#navbar ul li a:hover {
  background-color: #FF99FF;
  text-decoration: underline overline;
}

#filler{
  background: green;
  color: black;
  font-size: 2vw;
  margin: 0;
  padding: 0;
  top: 0;

}

#Title {
  margin: 0 0 0 0;
  background-color: #FF99FF;
  display: inline-block;
  width: 100%;

}

#Title h1{
  font-size: 4vw;
  padding: 1vw;
}



.subTitle{
  margin: 0% 0% 0 0;
  background-color: #9999ff;
  display: inline-block;
  width: 100%;
}
.subTitle h2{
  font-size: 3vw;
  padding: 0.25em;
}

#bakingTitle {
  margin: 0 0 0 0;
  background-color: #bcbc73;
  display: inline-block;
  width: 100%;

}

#bakingTitle h1{
  font-size: 4vw;
  padding: 1vw;
  font-family: 'Tangerine', sans-serif;
}



.bakingsubTitle{
  margin: 0% 0% 0 0;
  background-color: #bc7373;
  display: inline-block;
  width: 100%;
}
.bakingsubTitle h2{
  font-size: 4vw;
  font-family: 'Tangerine', sans-serif;
}

.miniTitle{
  margin: 0% 0% 0 0;
  background-color: #99ff99;
  display: inline-block;
  width: 50%;
}
.miniTitle h2{
  font-size: 2vw;
  padding: 0.5vw;
}

.Container{
  display: inline-block;
  width: 100%;
}

.Container img{
  float: left;
  width: 30%;
  margin: 0;
}
.Container video{
  float: left;
  width: 35%;
  margin: 0 0 0 0;
}

.Container .text{
  font-size: 2vw;
  margin-left: 30vw;

}

.Container .text ul{
  list-style-type: none;
}

.Container .text ul li{
  display: block;
  padding: 1vw 4vw;
  font-size: 2vw;
  text-decoration: none;
}

.Container .box {
  font-size: 2vw;
}

